@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root{
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --text-dark : #0f172a;
    --text-light : #64748b;
    --extra-light: #f1f5f9;
    --white: #FFFFFF;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

body{
    font-family: "Pretendard", Pretendard;
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    font-weight: 500;
    color: var(--text-light);
    text-decoration: none;
    transition: 0.3s
}

.link a:hover{
    color: var(--text-dark  );
}